<% if @settings['phone_number'].present? %>
  <div><strong><%= t 'telegram_common.settings.telegram_phone_number' %>:</strong> <%= @settings['phone_number'] %></div>
  <br>
<% end %>
<em class="info"><%= t 'telegram_common.settings.authorize_hint' %></em>
<%= link_to telegram_setup_1_path do %><button type="button"><%= t 'telegram_common.settings.authorize_client' %></button><% end %>

<%= link_to telegram_setup_reset_path, method: 'delete' do %><button type="button"><%= t 'telegram_common.settings.reset' %></button><% end %>

<br><br>

<h3><%= t 'telegram_common.requirements.title' %></h3>

<table class="list">
  <thead>
  <tr>
    <th></th>
    <th><%= t 'telegram_common.requirements.valid' %></th>
    <th><%= t 'telegram_common.requirements.description' %></th>
  </tr>
  </thead>
  <tr>
    <td>Redmine Host</td>
    <td>
      <% if TelegramCommon.redmine_host_valid? %>
      <%= t 'telegram_common.requirements.yes' %>
      <% else %>
      <%= t 'telegram_common.requirements.no' %>
      <% end %>
    </td>
    <td><%= t 'telegram_common.requirements.redmine_host', { host: Setting.host_name } %></td>
  </tr>
  <tr>
    <td>Rails Env</td>
    <td>
      <% if TelegramCommon.rails_env_valid? %>
      <%= t 'telegram_common.requirements.yes' %>
      <% else %>
      <%= t 'telegram_common.requirements.no' %>
      <% end %>
    </td>
    <td><%= t 'telegram_common.requirements.rails_env', { rails_env: Rails.env } %></td>
  </tr>
</table>

<p>
  <label for="settings_telegram_bot_token">Api ID</label>
  <%= text_field_tag 'settings[api_id]', @settings['api_id'], size: 50 %>
</p>

<p>
  <label for="settings_telegram_bot_token">Api Hash</label>
  <%= text_field_tag 'settings[api_hash]', @settings['api_hash'], size: 50 %>
</p>

<%= hidden_field_tag 'settings[phone_number]', @settings['phone_number'] %>
